<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="factory">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">ngage2</property>
		<property name="hibernate.connection.url">jdbc:mysql://db4free.net:3306/marekobookstore?zeroDateTimeBehavior=convertToNull</property>
		<property name="hibernate.connection.username">marekobookstore</property>
		<property name="hibernate.default_schema">marekobookstore</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<mapping class="entity.Authors" />
		<mapping class="entity.Books" />
		<mapping class="entity.Adress" />
		<mapping class="entity.Categories" />
		<mapping class="entity.Customers" />
		<mapping class="entity.LoginData" />
		<mapping class="entity.Ord" />
		<mapping class="entity.OrdItem" />
		<mapping class="entity.OrdItemId" />
	</session-factory>
</hibernate-configuration>
